@import url('https://fonts.googleapis.com/css?family=Roboto:500,700');

div.badge p {
    font-family: 'Roboto', sans-serif;
}

#name {
    left: 27%;
    top: 29%;
    font-size: 140%;
    font-weight: bold;
}

#department {
    left: 27%;
    top: 41%;
    font-size: 95%;
}

#division {
    left: 27%;
    top: 49%;
    font-size: 65%;
}